*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/*display*/

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}


.d-inline-block{
    display: inline-block;
}

/*flex-direction*/

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

/*justify-content*/


.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-flexend{
    justify-content: flex-end;
}

/*alignement vertical*/

.align-center{
    align-items: center;
}

/*height*/

.heightvh{
    height: 75vh;
}
.height{
    height: 238px;
}
.height30{
    height: 30px;
}
.height20{
    height: 30px;
}

/*width*/

.w20{
    width: 20%;
}
.w30{
    width: 30%;
}
.w10{
    width: 10%;
}
.w33{
    width: 33px;
}
.w100{
    width: 100%;
}

.w90{
    width: 90%;
}


/* margin et padding auto*/

.m-auto{
    margin: auto;
}

.p-auto{
    padding: auto;
}


/*padding et margin horizontal et vertical auto*/
.mb25{
    margin-bottom: 25px;
}
.mt10{
    margin-top: 35px;
}
.mt2{
    margin-top: 3px;
}
.mr10{
    margin-right: 10%;
}
.padding2{
    padding: 5px;
}
.padding{
    padding: 15px;
}
.ml10{
    margin-left: 10%;
}
.mb10{
margin-bottom: 10%;
}
.mb5{
    margin-bottom: 3%;
}
.mb{
    margin-bottom: 10px;
}
.mt3{
    margin-top: 3%;
}
.pt{
    padding-top: 10px;
}
.ml5{
    margin-left: 5%;
}
.mr5{
    margin-right: 5%;
}
.mt5{
    margin-top: 5%;
}
.paddingb{
    padding: 10px 25px;
}
.px-auto{
    padding-left: auto;
    padding-right: auto;
}
.py-auto{
    padding-top: auto;
    padding-bottom: auto;
    
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

/*couleur background et colors*/
.color-b{
    color: #B7912C;
}
.color-w{
    color: white;
}
.bg-blu{
    background-color: #025F70;
}
.color-black{
    color: black;
}
.bg-blue{
    background-color: blue;
}
.bg-beige{
    background-color: #F5F0DA;
}
.bg-yellow{
    background-color: yellow;
}

/*text*/

.text-center{
    text-align: center;  
}

.text-deco-none{
    text-decoration: none;
}

.list-style-none{
    list-style-type: none;
}


/*taille logo*/

.img-logo{
    width: 150px;
    height: auto;
}

.img-social-network{
    width: 35px;
    height: auto;
}


/*ombre */

.box-shadow-button{
    box-shadow:2px 2px 1px grey ;
}

.box-shadow-nav{
    box-shadow:2px 2px 1px grey ;
}

/*font*/

.font-famillyp{
    font-family: 'Times New Roman', Times, serif;
}
.font-sizem{
    font-size: 1.3em;
}
.font-familly{
    font-family: 'Courier New', Courier, monospace;
}
.font-size{
    font-size: x-large;
}
.font-size-l{
    font-size: large;
}


/*bordure*/

.borderra{
    border-radius: 40px;
}
.borderi{
    border: black solid 1px;

}
.border{
    border: 2px solid#B7912C;
}




/*photo salon de barbier et button*/
.bandeau{
    background: url(bandeau.jpg-min.jpg) no-repeat center/cover;
    height: 400px;
}


/*barre de recherche*/
.position{
    position:absolute; left: 70%; top: 10%; right: 0%; bottom: 50%;
}


/*liste et lien*/
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/*button*/
.btn button{
    position: absolute; bottom: 3px; right: 10px;
}
.relative{
    position: relative; 
}
